html {
	height: 100%;
}

body {
	background-image: linear-gradient(to bottom, #1d222e, #2e3844, #404f5b, #546871, 
	#698188, #789195, #89a1a2, #9ab1b0, #a7bbb8, #b3c4c1, #c0ceca, #cdd8d4);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#special-a {
	font-size: 26px;
	color: #e8e1b7;
	font-family: 'Poiret One';
	text-decoration: none !important;
}

#special-a-mobile {
	font-size: 26px;
	color: #e8e1b7;
	font-family: 'Poiret One';
	text-decoration: none !important;
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
    font-size: 70px;
    white-space: nowrap;
    overflow: hidden;
    color: #e8e1b7;
	font-family: 'Poiret One';
}

#centered-mobile {
    position: absolute;
    top: 60%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-60%);
    -webkit-transform: translateX(-50%) translateY(-60%);
    transform: translateX(-50%) translateY(-60%);
    font-weight: bold;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    color: #e8e1b7;
	font-family: 'Poiret One';
}

#centered-a-mobile {
    font-weight: bold;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    color: #e8e1b7;
	font-family: 'Poiret One';
}


#email-a {
	font-size: 30px;
	color: #e8e1b7;
	font-family: 'Poiret One';
	font-weight: bold;
	text-decoration: none !important;
}

#email-a-mobile {
	font-size: 26px;
	color: #e8e1b7;
	font-family: 'Poiret One';
	font-weight: bold;
	text-decoration: none !important;
}

#img-smaller {
	height: 50%;
	width: 50%;
}

#img-smaller-2 {
	height: 50%;
	width: 75%;
}

#rectangle {
   width: 150px;
   height: 50px;
   background: transparent;
   border-style: solid;
   border-color: black;
}

#rectangle:hover {
   color: blue;
   border-color: blue;
}

/* Dynamic size fonts for larger screens */
@media screen and (min-width: 1600px) and (min-height: 900px) {
	h1 { font-size: 3.75vw; }
	h2 { font-size: 2.09vw; }
	p { font-size: 1.67vw; }
	h3, a { font-size: 1.39vw; }
	#bio { font-size: 2.64vw; }
	#centered { font-size: 4.86vw; }
	#special-a { font-size: 1.81vw; }
	#email-a { font-size: 2.09vw; }
	#email-label { font-size: 2.09vw; }
}

@media only screen and (orientation: landscape) {
	html { padding: env(safe-area-inset); }
}
